.employeeCard {
    width: 24%;
    margin: 5px;
    border-width: 2px;
}

.image {
    padding: 5px;
    margin-bottom: 5px;
}

.jumbotron {
    background-color: #eb8559;
}

body {
    background-color: #D3D3D3;
}

.jumbotron {
    width: 135%;
    margin-left: -17%;
}

.row {
    width: 110%;
    margin-left: -5%;
}

.navbar {
    border-width: 2px;
}