.employeeCard {
    /* width: 24%; */
    min-width: 24%;
    max-width: 250px;
    margin: 5px;
    border-width: 2px;
}

.image {
    padding: 5px;
    margin-bottom: 10px;
    width: 120%;
    max-width: 200px;
}

.jumbotron {
    background-color: #eb8559;
}

body {
    background-color: #D3D3D3;
}

.jumbotron {
    width: 180%;
    margin-left: -40%;
}

.row {
    width: 110%;
    margin-left: -5%;
}
